*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
@font-face {
  font-family: "Dancing_Script";
  src: url("fonts/Dancing_Script,Nanum_Myeongjo,Open_Sans,");
}
body {
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}
/*start img top bg*/
.img_top_bg {
  position: relative;
  min-width: 100%;
  height: 800px;
  background-image: url(../img/01_img.9d76dce6.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.fon {
  position: absolute;
  width: 100%;
  height: 800px;
  top: 0;
  left: 0;
  background-color: #060606;
  opacity: .31;
}

/*end img top bg*/

/*start logo top left*/
.logo a {
  font-family: Dancing_Script;
  font-size: 34px;
  color: #fff;
  font-weight: 900;
}
.logo > i {
  font-size: 30px;
  color: #1067EEFF;
}
.logo:hover {
  transform: scale(1.2, 1.2);
}
/* logo top left end*/

/*start menu top id*/
.menu_top-id {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 150px;
  border-bottom: 1px solid #BABABAFF;
  margin-left: auto;
}

.menu-id {
  display: flex;
  margin-left: -30px;

}

.menu-id a {
  font-family: Nanum_Myeongjo;
  font-weight: 900;
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
  margin-left: 15px;
}

/*start menu id */
.menu-id hr {
  opacity: 0;
  margin-top: 6px;
  width: 0%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  transition: 0.8s;
}
.menu-id a:hover hr  {
  opacity: 1;
  width: 100%;
  transition: 1s;
}
/*end menu id */

.en-ru {
  margin-left: 100px;
  color: #fff;
}
.en-ru > .en {
  color: #D6D6D6FF;
  cursor: not-allowed;
}
.en-ru > .ru {
  color: #fff;
  margin-left: 15px;
}

.en-ru > .ru:hover {
  color: #D6D6D6FF;
}
/*start icon search*/
.ic-search {
  display: flex;
  align-items:  center;
  width: 50px;
  height: 50px;
  padding:  17px;
  background-color: #2740CDC4;
  border-radius: 3px;
  cursor: pointer;
}

.ic-search i {
  color: #fff;
  font-size: 18px;
}
.ic-search:hover {
 background-color: #091AF5FF;
}
/* icon search end*/

/*media menu icon-bars_top left start*/
.icon-bars_top {
  width: 50px;
  height: 50px;
  padding:  17px;
  background-color: #2740CDC4;
  border-radius: 3px;
  cursor: pointer;
  display: none;  
  
}
.icon-bars_top i {
  color: #fff;
  font-size: 18px;
}
.icon-bars_top:hover {
 background-color: #091AF5FF;
}
/*media menu icon-bars_top left end*/

/*<!-- srart img top heading  -->*/
.imgtop-heading {
  position: absolute;
  width: 700px;
  height: 300px;
  top: 220px;
  left: 70px;
}

.heading-h1 {
  width: 450px;
  height: 150px;
}

.heading-h1 > h1 {
  font-size: 60px;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 900;
}

.imgtop-heading p {
  font-size: 22px;
  color: #fff;
  margin-top: 20px;
  letter-spacing: 1px;
  line-height: 30px;
}

.imgtop-heading button {
  width: 150px;
  height: 50px;
  margin-top: 20px;
  outline: none;
  border: none;
  background-color: #2740CDC4;
}

.imgtop-heading button a {
  color: #fff;
  font-size: 16px;
}

.imgtop-heading button:hover {
  background-color: #091AF5FF;
}

/*media menu icon-bars_top left start*/

.media-menu {
  position: absolute;
  width: 400px;
  height: 500px;
  background-color: #fff;
  border-radius: 5px;
  margin:13px 410px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  overflow: hidden;
}
.icon-bars_top:hover .media-menu {
  opacity: 1;
  visibility: visible;
  margin:13px -350px;
  transition: 1s;
}

.media-menu a {
  margin: 20px 40px;
  color: black;
  line-height: 35px;
  font-size: 22px;
  text-shadow: 0 2px 4px grey;
}

.media-menu hr {
  width: 0%;
  height: 4px;
  color: grey;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: 0.8s;
}
.media-menu a:hover hr  {
  width: 50%;
  opacity: 1;
  visibility: visible;
  transition: 1s;
  box-shadow: 2px 2px 4px grey;
}
.media-menu h2 {
  margin-left: 40px;
  font-size: 18px;
  line-height: 10px;
  margin-bottom: 20px;
  color: grey;
}
.media-cont a {
  font-size: 20px;
  line-height: 30px;
}
.media-cont a:hover {
  color: red;
}
.icon-bars_top {
  display: none;
}

/*media menu icon-bars_top left end*/

/*<!-- img top heading end  -->*/

/*<!-- start cont-info-conter -->*/
.cont-info-conter {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 380px;
  top: 590px;
  left: auto;
}

.cont {
  width: 100%;
  height: 100%;
}
.cont h1 {
  color: #fff;
  margin: 20px 40px;
  letter-spacing: 2px;
}
.cont p {
  font-size: 20px;
  color: #fff;
  letter-spacing: 1px;
  line-height: 30px;
  margin: -10px 40px;
  font-weight: 600;
}
.cont a {
  font-size: 20px;
  color: #fff;
  margin: 40px;
  line-height: 80px;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
  font-weight: 600;
}
.cont a:hover {
  color: #B5B5B5FF;
}

.cont-icon {
  width: 80%;
  height: 120px;
  border-bottom: 1px solid #B5B5B5FF;
  margin-left: 40px;
}

.cont-icon i {
  font-size: 35px;
  margin-top: 70px;
  color: #fff;
}


.cal {
  background-color: #2740CDC4;
}
.nav {
  background-color: #3463CAE0;
}
.taim  {
  background-color: #D3D3D3DE;
}

.taim i {
  color: black;
}
.calendar h1 {
  color: black;
}

.calendar h2 {
  margin-left: 40px;
  line-height: 35px;
  margin-top: 23px;
}

.calendar h3 {
  margin-top: -35px;
  margin-right: 40px;
  float: right;
  line-height: 35px;
}
/*<!--  cont-info-conter end-->*/

/*<!-- start main 1 centr top img text  -->*/
.info-clinic {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 350px;
  margin: 300px auto 0;
}
/*hed-dentiinfo-clinic start*/
.hed-dentiinfo-clinic {
  width: 40%;
}
.hed-dentiinfo-clinic h1 {
  font-size: 38px;
  color: black;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 45px;
}
.hed-dentiinfo-clinic h2 {
  margin-left: 300px;
  margin-top: -100px;
  line-height: 35px;
}
.hed-dentiinfo-clinic h3 {
  margin-left: 320px;
  color: grey;
}
.img_head img {
  width: 200px;
  height: 150px;
  margin-top: 60px;
}
/*hed-dentiinfo-clinic end*/

/*text-info start*/
.text-info {
  width: 60%;
}
.text-info p {
  font-size: 20px;
  color: grey;
  line-height: 30px;
  margin-left: 35px;
}
.botom-text {
  margin-top: 35px;
}

.info-clinic button {
  width: 150px;
  height: 50px;
  margin: 68px 130px;
  outline: none;
  border-radius: 2px;
  border: none;
  background-color: #2740CDC4;
  cursor: pointer;
}
.info-clinic button a {
  color: #fff;
  font-size: 16px;
}
.info-clinic button:hover {
  background-color: #091AF5FF;
}
/*text-info end*/
/*<!-- main 1 centr top img text end  -->*/

/*<!-- menu and Our Values main 2 start -->*/
.Values {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 200px;
  margin: 150px auto;
}

.Values h1 {
  margin-top: 20px;
  font-size: 30px;
}
.Values p {
  font-size: 22px;
  color: grey;
  margin-top: 20px;
  line-height: 28px;
}

.sid {
  width: 30%;
  border-top: 1px solid #ddd;
}
/*<!-- menu and Our Values main 2 end -->*/

/*<!-- img main 3 start -->*/

.img-big_btm {
  background-image: url(../img/03_img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 550px;
}
/*<!-- img main 3 end -->*/

/*<!-- imgs brend main 4  start -->*/
.imgs-brend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 200px;
  margin: 20px auto;
}

.imgs-brend img {
  width: 180px;
  height: 50px;
}
/*<!-- imgs brend main 4  end -->*/

/*<!-- main Services side 5 start -->*/
.Services {
  width: 100%;
  height: 1000px;
  background-color: #E2E2E2FF; 
  border: 1px solid #fff;
}
.heading {
  width: 500px;
  height: 230px;
  margin: 160px 50px 0;
}
.heading h1 {
  font-size: 45px;
}
.heading h2 {
  margin-top: 23px;
  color: grey;
}
/*conter-info-left start*/
.conter-info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-left: 30px;
  width: 95%;
  height: 440px;
}
.contER {
  position: relative;
  width: 48%;
  height: 110px;
  border-bottom: 1px solid grey;
}
.name-info {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: inherit;
}
.contER i {
  margin-right: 15px;
  font-size: 26px;
}
.contER h3 {
  font-size: 30px;
  letter-spacing: 2px;
}

.dropContent {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 18px;
  color: #666666FF;
  line-height: 22px;
  background-color: #E2E2E2FF;
  border-radius: 5px;
  display: none;
  z-index: 1;
}
.dropContent h4 {
  font-size: 22px;
  color: #0D66F1FF;
  margin-top: 10px;
}
.oralHealth:hover .dropContent {
  margin-top: 110px;
  display: block;
}
/*conter-info end*/
/*<!-- main Services side 5 end -->*/

/*<!-- main side 6 istory clients start -->*/
.about-us {
  position: relative;
  width: 100%;
  height: 230px;
  background-image: url(../img/17_img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: scale(1.2, 1.2);
}

.fon-imgs {
  display: flex;
  align-items: center;
  justify-content: space-around; 
  width: 100%;
  height: 230px;
  background-color: #1642E8C2;
}


.fon-imgs h1 {
  font-size: 28px;
  font-weight: 900;
  color: #fff;
}

.fon-imgs h2 {
  font-size: 18px;
  color: #fff;
  margin-top: 15px;
}
.clinic-rating {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 70%;
}
.border {
  text-align: center;
  padding: 35px;
  width: 25%;
  height: 100%;
  border-right: 1px solid #D3D3D3C9;
}
.bordright {
  border-right: none;
}
/*<!-- main side 6 istory clients end -->*/

/*<!-- Dental Professionals main side 7 start -->*/
.Dental-Professionals {
  width: 90%;
  height: 800px;
  margin: 200px auto 100px;
} 

.heading-dental {
  width: 550px;
  height: 160px;
}
.heading-dental h1 {
  font-size: 45px;
  letter-spacing: 1px;
  line-height: 60px;
}

/*img-doctors start*/
.img-doctors {
  display: flex;
  justify-content: space-between;
}
.img-doctors img {
  flex: 100%;
  max-width: 100%;
}

.doctor {
  position: relative;
  padding: 15px;
}
.icon_plus {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 30px;
  left: 30px;
  text-align: center;
  padding-top: 18px;
  border-radius: 2px;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  background-color: #1446EAEC;
}

.icon_plus:hover {
  background-color: #0026C9FF;
}

.ic_cont{
  width: 60px;
  height: 60px;
  margin-top: 25px;
  text-align: center;
  padding-top: 18px;
  border-radius: 2px;
  background-color: #fff;
  color: #1446EAEC;
  display: none;
}

.icon_plus:hover .ic_cont {
  margin-top: 15px;
  display: block;
}

.img-doctors h2 {
  font-size: 22px;
  color: grey;
  margin-top: 10px;
}

.img-doctors h3 {
  font-size: 25px;
  line-height: 35px;
}

.img-doctors p {
  font-size: 22px;
  line-height: 35px;
  color: grey;
}
/*<!-- Dental Professionals main side 7 end -->*/

/*<!-- main side 8 ceo ot company start -->*/

.ceo_ot_company {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 800px;
  background-image: url(../img/13_img.4944064e.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.pngimg {
  margin-top: -500px;
  width: 50px;
  height: 40px;
  z-index: 1;
}

.ceo_ot-img {
  position: absolute;
  text-align: center;
  width: 90%;
  height: 380px; 
}

.ceo_ot-img img {
  max-width: 110px;
  height: 110px;
}
.ceo_ot-img h1 {
  margin: 30px auto 10px;
  font-size: 33px;
  letter-spacing: 1px;
}

.ceo_ot-img h2 {
  font-size: 25px;
  color: grey;
  letter-spacing: 1px;
  line-height: 45px;
}

.ceo_ot-img p {
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 45px;
}
.box-bt {
  display: flex;
  align-items: center;
  margin: 20px auto;
  justify-content: space-around;
  width: 80px;
  height: 30px;
}

.activ {
  background-color: #0D4AF1FF !important; 
}
.box {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #FFF;
}

.box:hover {
  background-color: #0D4AF1FF;
}

/*<!-- main side 8 ceo ot company end -->*/

/*<!-- main side 9 Latest News start  -->*/
.Latest-News {
  position: relative;
  max-width: 90%;
  height: 600px;
  margin: 200px auto;
}

.news-heading {
  width: 600px;
  height: 100px;
  font-size: 30px;
  letter-spacing: 1px;
}

.LatestNews_img {
  display: flex;
  justify-content: space-between;
  flex: 100%;
  maxi-width: 100%;
  height: 400px;

}

.newsImgs {
  position: relative;
  flex: 100%;
  max-width: 100%;
  overflow: hidden;
}

.Date {
  position: absolute;
  margin: -70px 20px;
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 10px;
  background-color: #fff;
  border-radius: 2px;
  color: #156E9AEE;
  line-height: 20px;
}
.newsImgs img {
  max-width: 100%;
  transition: 0.8s;
}
.newsImgs:hover img {
  transform: scale(1.2, 1.2);
  transition: 0.8s;
}

.ifo-news {
  max-width:33%;
  height: 100%;
  padding: 10px;
}

.Date h1 {
  font-size: 24px;
}
.ifo-news h2 {
  margin: 15px 0;
  letter-spacing: 1px;
}
.ifo-news p {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
}

.LatestNews_img button {
  position: absolute;
  width: 170px;
  height: 60px;
  background-color: #1158EDFF;
  text-align: center;
  right: 0;
  bottom: 0;
  cursor: pointer;
  border: none;
  outline: none;
} 

.LatestNews_img button:hover {
  background-color: #0026C9FF;
}
.LatestNews_img button > a {
  font-size: 16px;
  color: #fff;
}
/*<!-- main side 9 Latest News end  -->*/


/*<!-- main side 10  footr contact registr start  -->*/
.contact-imput {
  width: 100%;
  height: 700px;
  background-color: #E5E5E5A6;
  border: 1px solid #fff;
}

.cont-info {
  width: 700px;
  height: 250px;
  margin-top: 100px;
  margin-left: 50px;
}

.cont-info h1 {
  font-size: 40px;
  letter-spacing: 1px;
  line-height: 60px;
}

.cont-info h2 {
  font-size: 20px;
  color: grey;
  margin-top: 30px;
}

.form-imput {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 95%;
  height: 150px;
  margin: 20px 50px;
}

.tayp_text {
  padding-left: 30px;
  font-size: 18px;
  border: none;
  outline: none;
  width: 48%;
  height: 60px;
}

.contact-imput button {
  width: 170px;
  height: 60px;
  background-color: #1158EDFF;
  margin:  10px 50px;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
} 

.contact-imput button a {
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
}

.contact-imput button:hover {
  background-color: #0026C9FF;
}
/*<!-- main side 10  footr contact registr end  -->*/

/*<!-- side main 12 foot-botom start  -->*/
.foot-botom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background-color: #fff;
}
.bot-fot {
  margin-left: 30px;
}
.bot-fot a {
  color: black;
}

.fot_centr {
  display: flex;
  color: grey;
}

.fot_centr h1 {
  font-size: 17px;
}

.fot_centr a {
  color: grey;
  margin-left: 5px;
}

.icon_in_fa {
  margin-right: 30px;
  font-size: 18px;
  letter-spacing: 18px;
}

.icon_in_fa a {
  color: black;
}

.icon_in_fa i:hover {
  color: grey;
}

/*<!-- side main 12 foot-botom end  -->*/












